@charset "UTF-8";

/* 상단 배너 */
.top-bn .bn-inner {
  position: relative;
  height: 100%;
}

.top-bn .bn-inner .bn-inner-txt {
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.top-bn .bn-inner .bn-inner-txt span {
  display: block;
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-top {
  color: #ddd;
  padding-bottom: 60px;
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-top h2 {
  margin-bottom: 15px;
}

.acne-bn .bn-inner-txt-bottom {
  background-color: rgba(56, 56, 56, 0.4);
}

.wrinkle-bn .bn-inner-txt-bottom {
  background-color: rgba(46, 21, 5, 0.4);
}

.dryskin-bn .bn-inner-txt-bottom {
  background-color: rgba(7, 32, 28, 0.4);
}

.whitening-bn .bn-inner-txt-bottom {
  background-color: rgba(167, 164, 136, 0.4);
}

.sunblock-bn .bn-inner-txt-bottom {
  background-color: rgba(172, 132, 122, 0.4);
}

.sebum-bn .bn-inner-txt-bottom {
  background-color: rgba(77, 131, 151, 0.4);
}

.deadskin-bn .bn-inner-txt-bottom {
  background-color: rgba(101, 48, 48, 0.4);
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom {
  padding: 40px 0 80px;
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom h3 {
  margin-bottom: 15px;
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom h3 span {
  display: inline-block;
  padding: 5px 30px;
  background-color: #fff;
  border-radius: 27px;
}

.top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom > span {
  color: #fff;
}

/* 솔루션 반응형 */
@media (max-width: 767px) {
  .wrap {
    font-size: 11px;
  }

  .top-bn .bn-inner .bn-inner-txt {
    justify-content: center;
    padding: 0 15px;
  }

  .acne-bn .bn-inner-txt-top {
    background-color: rgba(56, 56, 56, 0.4);
  }

  .wrinkle-bn .bn-inner-txt-top {
    background-color: rgba(46, 21, 5, 0.4);
  }

  .dryskin-bn .bn-inner-txt-top {
    background-color: rgba(7, 32, 28, 0.4);
  }

  .whitening-bn .bn-inner-txt-top {
    background-color: rgba(167, 164, 136, 0.4);
  }

  .sunblock-bn .bn-inner-txt-top {
    background-color: rgba(172, 132, 122, 0.4);
  }

  .sebum-bn .bn-inner-txt-top {
    background-color: rgba(77, 131, 151, 0.4);
  }

  .deadskin-bn .bn-inner-txt-top {
    background-color: rgba(101, 48, 48, 0.4);
  }

  .top-bn .bn-inner .bn-inner-txt .bn-inner-txt-top {
    padding: 40px 15px 20px;
  }

  .top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom {
    padding: 20px 15px 40px;
  }

  .top-bn .bn-inner .bn-inner-txt .bn-inner-txt-top > span,
  .top-bn .bn-inner .bn-inner-txt .bn-inner-txt-bottom > span {
    font-size: 1.25em;
  }
}
